---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import WhatIsSafeguarding from "../components/WhatIsSafeguarding.astro";
import SignsToWatch from "../components/SignsToWatch.astro";
import ActionSteps from "../components/ActionSteps.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="../images/favy.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Safeguarding</title>
    <meta
      name="description"
      content="Safeguarding is the protection of children, young people, and vulnerable adults from abuse, neglect, and harm. It's about creating safe environments where everyone can thrive and reach their full potential."
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen bg-gray-50 font-['Manrope'] font-normal">
    <Navigation />
    <Hero />
    <WhatIsSafeguarding />
    <SignsToWatch />
    <ActionSteps />
    <Contact />
    <Footer />
  </body>
</html>
